<label>Item Name:</label>
{{input value=name}}
<label>Item Price:</label>
{{input value=price}}
<label>Details:</label>
{{input value=details}}
<label>Category:</label>
{{input value=category}}
<label>Image Link:</label>
{{input value=image}}
<label>Stock Quantity:</label>
{{input value=stock}}
<button {{action 'addItem'}}>Save Item</button>
